body {
    max-width: 75em;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

h1,
h2,
p {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.02em;
}

main {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0.5rem;
}

img {
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

img:hover{
    scale: 1.15;
    box-shadow: 0 0 15px #92dce5;
}

section {
    text-align: center;
    padding: 1rem;
    margin: 0.25rem;
}

p {
    font-weight: bold;
}

section h2 {
    box-shadow: 0 0 15px #92dce5;;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    background-color: #DAF7DC;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 35em) {
    .cards {
        justify-items: center;
    }
    img {
        width: 60%;
    }
    section {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        justify-items: center;
    }
}