
body{
    font-family: 'Roboto Condensed', sans-serif;
}
header, footer{
    text-align: center;
    align-items: center;
    padding: 2rem;
    background-color:#92DCE5;
    border-radius: 5px;
}
header{
    margin-top: 5px;
    display: flex;
}
header, footer{
    max-width:  70rem;;
    margin: 0 auto;
    padding: 0.75rem;
    box-shadow: 0 0 30px black;
}
hr{
    max-width: 45rem;
    margin-top:1em;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 0 30px black;
    max-width: 55rem;
    margin: 0 auto;
}
main section{
    margin-top: 4rem;
}
section{
    display: block;
}
h1{
    margin: 0 auto;
}
h3 {
    margin-top: 0;
    background-color:transparent;
    box-shadow: 0 0 30px black;
    text-decoration:underline 3px;
    max-width:none;
    padding: 0.5rem;
}
h4{
    text-decoration: underline;
}
p{
    text-align: center;
    margin-top: 1rem;
    line-height: 1.5rem;
}
.paragraph{
    text-align: left;
}
.navlist{
    display: grid;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    padding: .1rem;
}
.navlist :hover{
    background-color:#92DCE5;
}
